<div ng-if="parameters.length"
  class="parameters ag-margin"
  md-whiteframe="2"
  layout="column">
  <div class="parameter"
    ng-repeat="parameter in parameters"
    ng-if="checkCondition(parameter)">
    <p class="title">{{parameter.title}}</p>
    <%-await template('./select')%>
    <%-await template('./checkboxes')%>
    <%-await template('./radio')%>
    <%-await template('./input')%>
  </div>
</div>