<div class="list"
  ng-disabled="work"
  flex="100"
  layout="column">


  <%-await template('ui/explorer',{
    toolbar: 'editor/sidebar/list-toolbar',
    item: 'editor/sidebar/list-item'
  })%>

</div>