<div media-item
  ng-show="object"
  class="media-tile"
  ng-class="{selected:object.selected}"
  layout="row"
  layout-margin
  layout-align="start center">

  <md-icon md-svg-src="{{get_icon('material/'+(object.type=='folder'?'folder':'insert-drive-file'))}}">
  </md-icon>
  <div layout="column">
    <span class="title">{{object.title}}</span>
    <span class="info">{{object.path}}</span>
  </div>

</div>