<div ng-hide="isSearching || searchResults"
    layout="row"
    layout-align="start center"
    class="toolbar md-padding">
    <!--LOCATION-->
    <div class="location"
        layout="row"
        layout-align="start center">
        <div class="entry"
            ng-repeat="dir in dirs">
            <md-icon ng-if="$index!=0"
                md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
            <span ng-click="openFolder(dir.location)">{{dir.name}}</span>
        </div>
    </div>

    <span flex="auto"></span>
    <!--ACTIONS-->
    <div layout="row"
        layout-align="left center">
        <div>
            <md-button class="md-primary"
                ng-click="refresh()">
                <md-icon md-svg-src="<%-get_icon('material/refresh')%>"></md-icon>
                Refresh
            </md-button>
        </div>
        <div>
            <md-button class="md-primary"
                ng-click="newFolder()">
                <md-icon md-svg-src="<%-get_icon('material/add')%>"></md-icon>
                New Folder
            </md-button>
        </div>
        <div>
            <md-button class="md-primary"
                type="file"
                ngf-multiple="true"
                ngf-select="uploadFiles($files, $invalidFiles)">
                <md-icon md-svg-src="<%-get_icon('material/file-upload')%>"></md-icon>
                Upload
            </md-button>
        </div>
    </div>

</div>