<%
    var editor = page.editor || {};
%>

<div layout="row"
    class="ag-margin main"
    layout="start center">

    <div layout="row"
        class="ag-margin mode"
        layout="start center">
        <span>Mode:</span>
        <md-button class="md-primary"
            ng-class="{active:mode.visual}"
            ng-click="openVisual()">
            Content
        </md-button>
        <md-button class="md-primary"
            ng-class="{active:mode.code}"
            ng-click="openCode()">
            Code
        </md-button>
    </div>

    <span flex></span>

    <md-button ng-click="save()"
        class="md-primary">
        <md-icon md-svg-src="<%-get_icon('material/save')%>"></md-icon>
        <span>Save</span>
    </md-button>

    <md-button ng-click="pageDelete()"
        class="md-warn">
        <md-icon md-svg-icon="<%-get_icon('material/delete')%>"></md-icon>
        <span>Delete</span>
    </md-button>

</div>