<div layout="column"
    class="page-main"
    ng-class="{active:page}">

    <%-template('./toolbar')%>

    <div class="edit-gui"
        ng-show="!sourceEnabled">
        <div class="general-info">
            <div ng-if="page.path"
                layout="row"
                layout-align="start center">
                <label>Path:</label>
                <p class="path">{{page.path}}</p>
                <span flex="auto"></span>
            </div>
        </div>
        <%-template('editor/content/data')%>
        <%-template('editor/content/fields')%>
    </div>

</div>