<%

var builtin = [];
var project = [];
var utilities = await site.pages.find({where:{template:'utility'}});
for(var utility of utilities){
  if(utility.builtin){
    builtin.push(utility);
    continue;
  }
  project.push(utility);
}

  %>
<div class="frame"
  layout="column"
  layout-padding>
  <%-await template('./group',{title:page.builtin,utilities:builtin})%>
  <%-await template('./group',{title:page.project,utilities:project})%>
</div>