<div ng-show="error"
    layout="column"
    class="error">
    <div layout="row">
        <span flex="auto"></span>
        <md-button ng-click="error=null"
            class="md-icon-button">
            <md-icon md-svg-src="<%-get_icon('material/close')%>"></md-icon>
        </md-button>
    </div>
    <div layout="column"
        class="ag-margin">
        <div class="row"
            ng-repeat="(key,value) in error">
            <div layout="row"
                class="ag-margin">
                <span flex="20">{{key}}</span>
                <span flex="80">{{value}}</span>
            </div>
        </div>
    </div>
</div>