<div ng-show="error"
    layout="column"
    class="error">
    <div layout="row">
        <span flex="auto"></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-src="<%-get_icon('material/close')%>"></md-icon>
        </md-button>
    </div>
    <div layout="row">
        <div layout="column">
            <div ng-repeat="(key,value) in error">
                {{key}}
            </div>
        </div>
        <div layout="column">
            <div ng-repeat="value in error">
                {{value}}
            </div>
        </div>
    </div>
</div>