<%-await template('./primary')%>
<div class="md-padding heading ag-margin"
    layout="column">
    <%-await template('./secondary')%>
    <%-await template('./error')%>
    <%-await template('./page')%>
</div>