.top-bar {
  background: white;
}

.page {
  .path {
    .source {
      color: grey;
      font-size: 0.8em;
    }
  }
}

.heading {
  md-switch {
    margin: 3px 0;
  }

  .error {
    padding: 10px;
    background: #eac7c7;
    color: #6b0000;
    border-radius: 7px;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;

    .row {
      border-bottom: solid 1px;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .md-button:not(.md-icon-button) {
    background: white;
  }

  .main {
    border-bottom: solid 1px #bfbfbf;
    padding-bottom: 20px;
  }

  .mode {
    span {
      margin: auto;
    }

    button {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}
