<%
    var editor = page.editor || {};
%>

<%if(editor.page){
    %>

<div layout="row"
    layout-align="start start"
    class="ag-margin page"
    ng-if="page.paths.length">

    <div layout="column"
        class="ag-margin">
        <p>Pages:</p>
        <a class="md-primary path ag-margin"
            ng-repeat="item in page.paths"
            ng-href="{{url('services/preview/real-time',edit.lang,item.path)}}"
            target="_blank"
            layout="row"
            layout-align="start center">
            <div layout="column">
                <span class="title">
                    {{item.path}}
                </span>
                <span class="source">
                    Source: {{item.source}}
                </span>
            </div>
        </a>
    </div>

    <span flex="auto"></span>
    <div layout="row"
        layout-align="start center">
        <md-switch ng-model="page.data.skip">
            Draft
        </md-switch>

        <md-button>
            Publish
        </md-button>
    </div>



</div>

<%}%>