<%
    var editor = page.editor || {};
%>

<%if(editor.page){
    %>

<div layout="row"
    class="ag-margin page"
    ng-if="page.paths.length">

    <div layout="column">
        <a class="md-primary path ag-margin"
            ng-repeat="item in page.paths"
            ng-href="{{url('services/preview/real-time',edit.lang,item.path)}}"
            target="_blank"
            layout="row"
            layout-align="start center">
            <div layout="column">
                <span class="title">
                    {{item.path}}
                </span>
                <span class="source">
                    Source: {{item.source}}
                </span>
            </div>
            <md-icon md-svg-src="<%-get_icon('material/open-in-new')%>"></md-icon>
        </a>
    </div>

    <span flex="auto"></span>
    <md-switch ng-model="page.data.skip">
        Draft
    </md-switch>

    <md-button>
        Publish
    </md-button>


</div>

<%}%>