.heading {
  md-switch {
    margin: 3px 0;
  }

  .md-button:not(.md-icon-button) {
    background: white;
  }

  .main {
    border-bottom: solid 1px #bfbfbf;
    padding-bottom: 20px;
  }

  .mode {
    span {
      margin: auto;
    }

    button {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}
