<div layout="column"
  class="editor-container">
  <%-template('./toolbar')%>
  <div ag-include
    class="page-main"
    ng-class="{active:page}"
    page="{{mode.page}}"></div>
</div>
<%-template('editor/messages')%>
<%-template('editor/field-menu')%>