<div layout="column"
  class="page-main"
  ng-class="{active:page}">
  <%-template('./toolbar')%>
  <div ag-include
    page="{{mode.page}}"></div>
</div>
<%-template('editor/messages')%>
<%-template('editor/field-menu')%>