<div class="frame top ag-margin"
  layout="column">
  <%-await template('ui/page-title')%>

  <div class="toolbar ag-margin md-padding"
    layout="row"
    layout-align="start end">
    <%-await template('./parameter')%>
    <span flex="auto"></span>
    <p ng-show="status.running">Running...</p>
    <md-button ng-show="!status.running"
      class="md-raised"
      ng-click="run()">Start</md-button>
  </div>

  <div class="log md-padding"
    flex="100"
    layout="column">
    <div flex="100"
      layout="column"
      md-whiteframe="2">
      <%-await template('./log')%>
      <%-await template('./progress')%>
    </div>
  </div>

</div>