<div class="ag-margin"
    layout="column">

    <%-await template('system/api/data',{data:page.data.model})%>
    <%-await template('ui/tabs',{name:'api',list:page.sections,location:'system/api'})%>

</div>